<div style="display:flex;height:100%;">
  <section style="width:200px;background:orangered">
      <%= link_to "All categories", menu_categories_path(category:"all"),class:"list-group-item OrderDetail",method: :get%>
      <%MenuCategory.order("name").all.each do |category|%>
        <div>
          <%= link_to category.name , menu_categories_path(category:category.id),class:"list-group-item OrderDetail",method: :get %>
        </div>
      <% end %>
  </section>
  <section class="menu" style="margin-left:50px;margin-top:2%">
      <% if category == "all" %>
            <%= render partial: "categories" %>
      <% else %>
          <%= render partial: "edit_menu_items",locals:{category_id:MenuCategory.menu_items(category)}%>
      <% end %>
  </section>
</div>

<script>
  function displayItems(id) {
    var x = document.getElementById("display"+id);
    if (x.style.display === "none") {
      x.style.display = "table-row";
    }else{
      x.style.display = "none";
    }
  }

  function displayEdit(id){
    var element = document.getElementById("displayEdit"+id);
    var hide_element = document.getElementById(id);
    if (element.style.display == "none"){
      element.style.display = "table-row"
      hide_element.style.display = "none";
    }else{
      element.style.display = "none"
    }
  }

  function reset(idList){
    ids=[]
    var id = ""
    for(i of idList){
      if(i.charCodeAt(0) >= 48 && i.charCodeAt(0) <= 57){
          id += i
      }else{
          if(id != ""){
            ids.push(Number(id))
            id = ""
          }
      }
    }

    idList = ids

    var element,hide_element;
    for (id of idList) {
      element = document.getElementById("displayEdit"+id);
      hide_element = document.getElementById(id);
      if (element.style.display == "table-row"){
        element.style.display = "none"
        hide_element.style.display = "table-row";
      }
    }
  }
</script>
