<article style="display:flex;">
  <section>
      <h1>Employees</h1>
      <div>
      <%= link_to "Owner",users_path(role:"owner")%>
      </div>
      <div>
      <%= link_to "Clerk",users_path(role:"clerk")%>
      </div>
  </section>
  <section style="margin-left:100px">
      <%= render partial: "employees",locals:{role:employee_role} %>
  </section>
</article>
