/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require bootstrap
 *= require_tree .
 *= require_self
 */

html,
body {
    height: 100%;
    margin: 0;
}

.scrollbar {
    height: 100%;
    width: 600px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.scrollbar::-webkit-scrollbar {
    display: none;
}

.MenuScrollBar {
    height: 500px;
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.MenuScrollBar::-webkit-scrollbar {
    display: none;
}

.cartscroll {
    height: 200px;
    width: 400px;
    margin-right: -20px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.menu-items {
    margin-left: 50px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.MenuCategory,
.OrderDetail {
    text-align: center;
    background: orangered;
    color: white;
    border-radius: 1px;
}

.MenuCategory:hover,
.OrderDetail:hover {
    text-decoration: none;
    background-color: white;
    color: orangered;
}

.OrderInvoice:hover {
    text-decoration: none;
}

.invoice {
    margin: 20px 10px;
    color: black;
    border-width: 2px;
}

.confirm-order {
    background-image: url("https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/gubwz8cbugdx3prtieuj");
    background-repeat: no-repeat;
    background-size: 100% 110%;
}

.form-input {
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
}

.form-input:focus {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.sign-up::placeholder,
.sign-in::placeholder {
    color: white
}